In [56]:
import pandas as pd

df=pd.read_csv("ReviewData.csv")

In [62]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
 5   Word_Score     515738 non-null  float64
 6   Stars          515738 non-null  int64
dtypes: float64(2), int64(1), object(4)
memory usage: 27.5+ MB

In [4]:
df.isnull().sum()

Hotel_Address    0
Average_Score    0
Hotel_Name       0
Tags             0
countries        0
Word_Score       0
Stars            0
dtype: int64

In [48]:
df.drop('Word_Score',axis=1,inplace=True)

In [53]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89

In [50]:
import numpy as np

In [51]:
wordScores=[]
c=0
for i in range (len(df)):
    wordScores.append(round(np.random.uniform(0.5,9.5),2))

In [52]:
df['Word_Score']=wordScores

In [ ]:
def hotelsFromTags(dataframe, tags):

    #boolean mask for each tag
    tagMasks=[dataframe['Tags'].str.contains(eachtag, case=False) for eachtag in tags]

    #tagMask makes different Masking lists for each tag, ie 5 tags as input will make 5 different masking lists
    #so use combined mask to combie them

    combinedMask=pd.Series([True]*len(dataframe))
    for eachMask in tagMasks:
        combinedMask &= eachMask

    #print(combinedMask)
    
    #now filtering the dataframe on the basis of the combined mask and other filters
    result_df=dataframe[combinedMask]
    result_df=result_df.sort_values('Average_Score',ascending=False)
    result_df.drop_duplicates(['Hotel_Name','Average_Score'],inplace=True)
    result_df=result_df.head(10)
    print(result_df[['Hotel_Name','Average_Score','Word_Score','Stars']])

hotelsFromTags(df, ["with a pet"])

In [ ]:
import pickle

hotelModel={'df':df, 'hotelsFromTags':hotelsFromTags }

with open('hotelModelPickle.pkl','wb') as f:
    pickle.dump(hotelModel, f)

In [ ]:
with open('hotelModelPickle.pkl', 'rb') as f:
    modelData = pickle.load(f)

df2=modelData['df']
tagSearch=modelData['hotelsFromTags']

tagSearch(df2, ['leisure trip','couple'])

In [ ]:
import random
hotelNames=df['Hotel_Name']
allHotels=[]

for i in hotelNames:
    if i not in allHotels:
        allHotels.append(i)

hotelStars={}
for i in allHotels:
    hotelStars[i]=random.randint(3,5)

print(hotelStars)

In [ ]:
df['Stars']=df['Hotel_Name'].map(hotelStars)

In [58]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,6.05
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,5,2.83
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,5,6.98
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,5,3.84
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,5,8.89

In [55]:
df.to_csv("ReviewData.csv",index=False)

In [ ]:
df.Stars.unique()

Find my Hotel Function

In [65]:
def findMyHotel(dataframe, country, tags, sortBy, stars):
    
    #country mask
    countryMask=dataframe['countries'].str.contains(country, case=False)


    #tag masks
    tagMasks=[dataframe['Tags'].str.contains(eachTag, case=False) for eachTag in tags]
    combinedMask=pd.Series([True]*len(dataframe))
    #combining tag masks
    for eachMask in tagMasks:
        combinedMask &= eachMask
    

    #star filtering
    starMask=pd.Series([True]*len(dataframe))
    if stars!=0 :
        if stars==3 :
            starMask=dataframe['Stars']==3
        elif stars==4 :
            starMask=dataframe['Stars']==4
        elif stars==5 :
            starMask=dataframe['Stars']==5
    

    #final df
    result_df=dataframe[combinedMask & countryMask & starMask]


    #sorting data based on filter
    if sortBy==0:       #average score sorting
        result_df=result_df.sort_values('Average_Score',ascending=False)
    elif sortBy==1:     #word score sorting
        result_df=result_df.sort_values('Word_Score',ascending=False)
    else :
        print("wrong filter")
        return
    
    
    #trimming and printing the result
    result_df.drop_duplicates(['Hotel_Name','Average_Score','Stars'],inplace=True)
    result_df=result_df.head(10)
    #print(result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars']])
    return result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars']]


my_df=findMyHotel(df,"AT",["couple","leisure trip"],1,0)
print(my_df)

       countries                          Hotel_Name  Average_Score  \
334822        AT   FourSide Hotel Vienna City Center            8.1
382523        AT                  Pakat Suites Hotel            8.6
336070        AT      Austria Trend Hotel Bosei Wien            8.3
396522        AT                   Hotel Am Parkring            9.0
384785        AT     Fleming s Conference Hotel Wien            8.5
512099        AT          Suite Hotel 900 m zur Oper            8.0
465798        AT                  Hotel City Central            8.6
370715        AT  25hours Hotel beim MuseumsQuartier            8.8
444660        AT                  Arthotel ANA Prime            8.4
464502        AT                      Hotel Stefanie            9.1

        Word_Score  Stars
334822        9.50      5
382523        9.50      3
336070        9.50      3
396522        9.50      4
384785        9.50      5
512099        9.50      3
465798        9.49      3
370715        9.49      5
444660        9.49      5
464502        9.49      5

In [ ]:
def methods():
    print("Dataframe : df")
    print("Find hotel function : findMyHotel(dataframe, country{String}, tags{String array}, sortBy{int}, stars{int})")

methods()

In [59]:
import pickle

with open("hotelModelPickle.pkl","wb") as f:
    pickle.dump(df,f)

In [ ]:
from hotel_utils import methods
methods()

In [60]:
import pickle

with open("hotelModelPickle.pkl","rb") as f:
    hotelData=pickle.load(f)

from hotel_utils import findMyHotel

findMyHotel(hotelData,"AT",["couple","leisure trip"],0,3)

       countries                                    Hotel_Name  Average_Score  \
377338        AT                       Boutiquehotel Das Tyrol            9.4
291575        AT                         Hotel Sans Souci Wien            9.4
342390        AT                 Steigenberger Hotel Herrenhof            9.0
462702        AT                            DO CO Hotel Vienna            9.0
426468        AT                Hotel Landhaus Fuhrgassl Huber            9.0
392532        AT                           Das Opernring Hotel            8.9
395578        AT                          Hotel Beethoven Wien            8.9
376649        AT           Falkensteiner Hotel Wien Margareten            8.9
270448        AT                 Schlosshotel R mischer Kaiser            8.9
445614        AT  Austria Trend Hotel Park Royal Palace Vienna            8.8

        Word_Score  Stars
377338        5.23      3
291575        3.76      3
342390        6.18      3
462702        5.80      3
426468        7.34      3
392532        4.96      3
395578        1.70      3
376649        6.71      3
270448        3.80      3
445614        8.78      3

In [1]:
import pickle

hotelData=pickle.load(open("hotelModelPickle.pkl","rb"))
type(hotelData)

pandas.core.frame.DataFrame

In [15]:
hotelData.sample()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Stars,Word_Score,Prices
105984,21 rue Moli re 1st arr 75001 Paris FR,9.2,H tel Moli re,solo traveler club double room stayed 2 nig...,FR,4,0.64,4200

In [3]:
allHotels=[]

for i in hotelData["Hotel_Name"]:
    if i not in allHotels:
        allHotels.append(i)

In [5]:
import random
Prices={}

for i in allHotels:
    Prices[i]=random.randint(20,100)*100

In [6]:
hotelData["Prices"]=hotelData["Hotel_Name"].map(Prices)