In [2]:
import pandas as pd

df=pd.read_csv("ReviewData.csv")

In [2]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Word_Score,Stars
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,0.539216,5
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,10.000000,5
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,6.666667,5
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,2.203390,5
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,1.081081,5

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
 5   Word_Score     515738 non-null  float64
 6   Stars          515738 non-null  int64
dtypes: float64(2), int64(1), object(4)
memory usage: 27.5+ MB

In [75]:
df.isnull().sum()

Hotel_Address    0
Average_Score    0
Hotel_Name       0
Tags             0
countries        0
Word_Score       0
Stars            0
dtype: int64

In [ ]:
def hotelsFromTags(dataframe, tags):

    #boolean mask for each tag
    tagMasks=[dataframe['Tags'].str.contains(eachtag, case=False) for eachtag in tags]

    #tagMask makes different Masking lists for each tag, ie 5 tags as input will make 5 different masking lists
    #so use combined mask to combie them

    combinedMask=pd.Series([True]*len(dataframe))
    for eachMask in tagMasks:
        combinedMask &= eachMask

    #print(combinedMask)
    
    #now filtering the dataframe on the basis of the combined mask and other filters
    result_df=dataframe[combinedMask]
    result_df=result_df.sort_values('Average_Score',ascending=False)
    result_df.drop_duplicates(['Hotel_Name','Average_Score'],inplace=True)
    result_df=result_df.head(10)
    print(result_df[['Hotel_Name','Average_Score','Word_Score','Stars']])

hotelsFromTags(df, ["with a pet"])

In [ ]:
import pickle

hotelModel={'df':df, 'hotelsFromTags':hotelsFromTags }

with open('hotelModelPickle.pkl','wb') as f:
    pickle.dump(hotelModel, f)

In [ ]:
with open('hotelModelPickle.pkl', 'rb') as f:
    modelData = pickle.load(f)

df2=modelData['df']
tagSearch=modelData['hotelsFromTags']

tagSearch(df2, ['leisure trip','couple'])

In [78]:
import random
hotelNames=df['Hotel_Name']
allHotels=[]

for i in hotelNames:
    if i not in allHotels:
        allHotels.append(i)

hotelStars={}
for i in allHotels:
    hotelStars[i]=random.randint(3,5)

print(hotelStars)

{'Hotel Arena': 5, 'K K Hotel George': 5, 'Apex Temple Court Hotel': 5, 'The Park Grand London Paddington': 5, 'Monhotel Lounge SPA': 3, 'Kube Hotel Ice Bar': 3, 'The Principal London': 4, 'Park Plaza County Hall London': 3, 'One Aldwych': 3, 'Splendid Etoile': 5, 'Hotel Trianon Rive Gauche': 3, 'InterContinental London Park Lane': 3, 'Novotel Suites Paris Nord 18 me': 3, 'Grand Royale London Hyde Park': 5, 'Milestone Hotel Kensington': 5, 'Crowne Plaza London Kings Cross': 3, 'Select Hotel': 5, 'H tel De Vend me': 4, 'Pullman Paris Centre Bercy': 3, 'Gardette Park Hotel': 4, 'Hotel Panache': 5, 'H tel des Ducs D Anjou': 3, 'Hotel Scribe Paris Opera by Sofitel': 3, 'Novotel London West': 3, 'Haymarket Hotel': 4, 'Intercontinental London The O2': 4, 'H tel Juliana Paris': 4, 'Hotel L Antoine': 3, 'Belfast': 3, 'Shangri La Hotel Paris': 5, 'Mercure Paris Tour Eiffel Pont Mirabeau': 4, 'Knightsbridge Hotel': 3, 'The London EDITION': 4, 'The Cranley Hotel': 5, 'Hotel Le 10 BIS': 5, 'The Nadler Soho': 5, 'Grange St Paul s Hotel': 3, 'The Ampersand Hotel': 5, 'Covent Garden Hotel': 4, 'The Nadler Victoria': 5, 'Novotel London Tower Bridge': 5, 'Crowne Plaza Paris R publique': 5, 'Le Metropolitan a Tribute Portfolio Hotel': 4, 'Atala Champs Elys es': 4, 'H tel de Jos phine BONAPARTE': 4, 'Maison Souquet': 3, 'Hotel Tour d Auvergne Opera': 4, 'Le Senat': 4, 'Windsor Opera': 3, 'Holiday Inn Paris Montparnasse Pasteur': 5, 'H tel Keppler': 3, 'Les Plumes Hotel': 5, 'Hotel des Tuileries Relais du Silence': 5, 'Bradford Elys es Astotel': 3, 'W London Leicester Square': 3, 'The Victoria': 4, 'Pullman London St Pancras': 3, 'Crowne Plaza London Kensington': 3, 'Doubletree by Hilton London Kensington': 5, 'Ace Hotel London Shoreditch': 5, 'Staybridge Suites London Vauxhall': 3, 'The Grosvenor': 4, 'The Park Tower Knightsbridge a Luxury Collection Hotel': 3, 'Amp re': 4, 'Melia Paris Champs Elys es': 5, 'Le Parisis Paris Tour Eiffel': 4, 'Thistle Kensington Gardens': 3, 'Park Plaza Sherlock Holmes London': 5, 'Hilton Paris Opera': 3, 'The Kensington Hotel': 3, 'Holiday Inn London Stratford City': 3, 'Staybridge Suites London Stratford': 4, 'Shepherd s Bush Boutique Hotel': 5, 'My Bloomsbury': 3, 'Holiday Inn Paris Gare de Lyon Bastille': 3, 'H tel Chaplain Paris Rive Gauche': 5, 'H tel Regina Op ra Grands Boulevards': 4, '11 Cadogan Gardens': 5, 'The Wellesley Knightsbridge a Luxury Collection Hotel London': 3, 'Hotel Astor Saint Honor ': 4, 'Op ra Marigny': 3, 'H tel Diva Opera': 4, 'Le Marcel': 5, 'H tel Duo': 3, 'H tel Le Marianne': 4, 'The Rembrandt': 4, 'Hotel Eden': 5, 'H tel de la Bourdonnais': 3, 'Ashburn Hotel': 4, 'Marlin Waterloo': 5, 'Best Western Premier Marais Grands Boulevards': 5, 'Novotel London Waterloo': 4, 'The Athenaeum': 5, 'Park International Hotel': 5, 'Lansbury Heritage Hotel': 5, 'Le Dokhan s a Tribute Portfolio Hotel': 4, 'Le Relais Madeleine': 5, 'Terrass H tel Montmartre by MH': 4, 'Millennium Hotel Paris Opera': 4, 'Waldorf Madeleine': 5, 'Batty Langley s': 5, 'Best Western Mornington Hotel Hyde Park': 5, 'Arbor City': 3, 'Hotel La Lanterne': 3, 'H tel Square Louvois': 3, 'Hotel Marignan Champs Elys es': 3, 'Le Grey Hotel': 3, 'Le Pavillon des Lettres': 5, 'H tel San R gis': 4, 'Garden Elys e': 3, 'Hotel Louvre Montana': 3, 'Ambassadors Bloomsbury': 3, 'Le 123 S bastopol Astotel': 4, 'Le 123 Elysees Astotel': 5, 'The Bryson Hotel': 4, 'Best Western Mercedes Arc de Triomphe': 3, 'London Marriott Hotel Regents Park': 4, 'Hilton London Hyde Park': 5, 'Staunton Hotel B B': 5, '1K Hotel': 4, 'H tel Westminster': 3, 'L H tel': 4, 'Mercure Paris Porte d Orleans': 3, 'Maxim Op ra': 3, 'Le Marceau Bastille': 5, 'Hotel Odeon Saint Germain': 4, 'Mercure London Bloomsbury Hotel': 4, 'The Chamberlain': 3, 'Radisson Blu Edwardian Grafton': 4, 'La Villa Haussmann': 5, 'London Marriott Hotel Marble Arch': 3, 'Saint Georges Hotel': 3, 'Park Grand London Lancaster Gate': 4, 'The Henrietta Hotel': 5, 'Sofitel Paris Arc De Triomphe': 5, 'Hotel Mercure La Sorbonne Saint Germain des Pr s': 4, 'La Tremoille Paris': 5, 'Hotel Op ra Richepanse': 4, 'H tel Duc De St Simon': 3, 'Hotel Le Six': 4, 'The Bailey s Hotel London': 3, 'London Marriott Hotel Park Lane': 4, 'Best Western Premier Louvre Saint Honor ': 5, 'Hotel Indigo London Tower Hill': 4, 'Windermere Hotel': 5, 'La Villa Maillot': 5, 'H tel Madison by MH': 5, 'Mercure London Paddington Hotel': 4, 'Hilton London Paddington': 3, 'London Marriott Hotel Kensington': 4, 'Kensington House Hotel': 4, 'Charlotte Street Hotel': 4, 'The Goring': 4, 'Novotel Paris 14 Porte d Orl ans': 5, 'The Pelham Starhotels Collezione': 5, 'The Montague On The Gardens': 5, 'Ritz Paris': 5, 'Hotel Les Rives de Notre Dame': 5, 'Sofitel Paris Le Faubourg': 4, 'Bassano': 4, 'Best Western Premier Le Swann': 5, 'H tel des Academies et des Arts': 3, 'Hotel Lumen Paris Louvre': 4, 'Le Marquis Eiffel': 3, 'COQ Hotel Paris': 3, 'Mill sime H tel': 3, 'The Leonard Hotel': 3, 'DoubleTree by Hilton London Hyde Park': 4, 'The Ritz London': 5, 'M by Montcalm Shoreditch London Tech City': 5, 'Legend Saint Germain by Elegancia': 4, 'Clayton Crown Hotel London': 3, 'Au Manoir Saint Germain': 5, 'St Paul s Hotel': 5, 'Best Western S vres Montparnasse': 5, 'The Bloomsbury Hotel': 5, 'Nolinski Paris': 5, 'Le Tourville Eiffel': 3, 'Paris Marriott Opera Ambassador Hotel': 3, 'Hotel Indigo London Paddington': 5, 'Idol Hotel': 5, 'H tel California Champs Elys es': 3, 'Hotel de Seze': 3, 'Number Sixteen': 5, 'Hotel Xenia Autograph Collection': 4, 'H tel Hor': 3, 'Britannia International Hotel Canary Wharf': 4, 'Best Western Op ra Batignolles': 3, 'H tel de Banville': 5, 'Villa Eugenie': 5, 'Hilton London Euston': 4, 'Egerton House': 3, 'Millennium Hotel London Knightsbridge': 3, 'H tel Raphael': 3, 'Le 7 Eiffel Hotel': 5, 'Paris Marriott Rive Gauche Hotel': 3, 'Hotel La Place': 5, 'Hotel Le Pera': 3, 'H tel Bedford': 4, 'Drawing Hotel': 5, 'Novotel Paris Centre Gare Montparnasse': 5, 'D clic Hotel': 3, 'Villa d Estr es': 5, 'Bulgari Hotel London': 4, 'Novotel London Greenwich': 3, 'Park Avenue Baker Street': 4, 'Hotel Plaza Elys es': 3, 'Hotel Champs Elys es Friedland by Happyculture': 4, 'Malmaison London': 5, 'The Park City Grand Plaza Kensington Hotel': 4, 'Park Plaza London Riverbank': 5, 'Pullman Paris Tour Eiffel': 3, 'Danubius Hotel Regents Park': 3, 'Hotel Bachaumont': 5, 'Franklin Roosevelt': 3, 'H tel Horset Op ra Best Western Premier Collection': 5, 'Best Western Paris Gare Saint Lazare': 3, 'Splendide Royal Paris': 3, 'The Rockwell': 5, 'The LaLit London': 4, 'Mercure Paris Alesia': 4, 'Courthouse Hotel London': 5, 'Best Western The Boltons Hotel London Kensington': 5, 'Radisson Blu Edwardian Sussex': 5, 'Hotel The Peninsula Paris': 5, 'Le Narcisse Blanc Spa': 4, 'The Pillar Hotel': 4, 'Crowne Plaza London The City': 5, 'H tel Les Dames du Panth on': 5, 'H tel Victor Hugo Paris Kl ber': 4, 'Grand Hotel Saint Michel': 5, 'Hotel Maison Ath n e': 4, 'Relais Du Louvre': 5, 'Pullman Paris Montparnasse': 4, 'Best Western Ducs de Bourgogne': 3, 'Best Western Premier Op ra Opal': 5, 'Amarante Champs Elys es': 5, 'The Gore Hotel Starhotels Collezione': 3, 'The Hoxton Holborn': 4, 'Mercure London Kensington Hotel': 5, 'Royal Garden Hotel': 5, 'Boundary Rooms Suites': 4, 'H tel Ad le Jules': 4, 'Grange White Hall Hotel': 5, 'Hilton London Bankside': 3, 'DoubleTree by Hilton London Ealing': 5, 'Molitor Paris MGallery by Sofitel': 4, 'First Hotel Paris Tour Eiffel': 4, 'DoubleTree by Hilton London Victoria': 3, 'St Ermin s Hotel Autograph Collection': 5, 'Montagu Place Hotel': 4, 'H tel Regina': 3, 'Mercure Paris Gare De Lyon TGV': 5, 'Villa Montparnasse': 5, 'H tel des Champs Elys es': 4, 'Lyric H tel Paris': 4, 'Hotel Design Secret de Paris': 4, 'Hotel Dupond Smith': 4, 'Okko Hotels Paris Porte De Versailles': 4, 'La Villa Royale': 5, 'Hotel Indigo Paris Opera': 3, 'Villa Opera Drouot': 3, 'Novotel Paris Gare De Lyon': 4, 'H tel Belloy Saint Germain By Happyculture': 3, 'Hotel Louis 2': 3, 'InterContinental Paris Le Grand': 3, 'The Trafalgar Hilton': 5, 'Park Lane Mews Hotel': 4, 'Old Ship Inn Hackney': 4, 'The Drayton Court Hotel': 3, 'The Montcalm Marble Arch': 5, 'The Colonnade': 5, 'The Royal Horseguards': 5, 'Grange Fitzrovia Hotel': 3, 'H tel Le M': 3, 'The Hari London': 3, 'citizenM London Bankside': 3, 'Radisson Blu Edwardian Mercer Street': 3, 'Twenty Nevern Square Hotel': 4, 'The Abbey Court Notting Hill': 5, 'Seven Hotel': 3, 'Platine Hotel Spa': 3, 'Mercure Paris Gare Montparnasse': 4, 'Mercure Paris Notre Dame Saint Germain des Pr s': 4, 'Mercure Paris Centre Tour Eiffel': 4, 'Banke H tel': 4, 'Mondrian London': 5, 'Karma Sanctum Soho Hotel': 4, 'NH London Kensington': 3, 'Saint James Albany Paris Hotel Spa': 3, 'Mercure Paris Montparnasse Raspail': 5, 'Golden Tulip Bercy Gare de Lyon 209': 5, 'Montfleuri': 5, 'Simply Rooms Suites': 5, 'Mercure Paris Pigalle Sacre Coeur': 3, 'The Academy': 5, 'Le Meridien Piccadilly': 5, 'Mercure Paris Terminus Nord': 5, 'H tel F licien by Elegancia': 3, 'Le Lavoisier': 5, 'H tel Moli re': 4, 'Vice Versa': 3, 'The Kings Head Hotel': 5, 'H tel Etoile Saint Honor by Happyculture': 3, 'Hotel Le petit Paris': 4, 'Mercure Paris 19 Philharmonie La Villette': 3, 'Royal Garden Champs Elysees': 3, 'H tel Brighton Esprit de France': 5, 'H tel Paris Bastille Boutet MGallery by Sofitel': 3, 'Montcalm Royal London House City of London': 5, 'Conrad London St James': 5, 'L Edmond H tel': 3, 'Novotel Suites Paris Montreuil Vincennes': 4, 'London Marriott Hotel West India Quay': 3, 'London Hilton on Park Lane': 5, 'Radisson Blu Portman Hotel London': 5, 'H tel France d Antin Op ra': 4, 'Hotel Stendhal Place Vend me Paris MGallery by Sofitel': 3, 'H tel De Buci by MH': 3, 'Hotel Parc Saint Severin Esprit de France': 3, 'Hotel Chavanel': 4, 'The Portobello Hotel': 4, 'Royal Saint Honore': 3, 'Landmark London': 4, 'Hilton London Metropole': 4, 'Best Western Seraphine Kensington Olympia': 5, 'Portobello House': 5, 'Le Meurice': 3, 'Maison Albar Hotel Paris C line': 5, 'Henry VIII': 5, 'Goodenough Club': 5, 'Holiday Inn Paris Montmartre': 5, 'Hotel Pulitzer Paris': 3, 'Hotel Vignon': 3, 'London Suites': 3, 'H tel Aiglon Esprit de France': 3, 'Sansi Diputacio': 5, 'Park Plaza Victoria London': 4, 'Grange Beauchamp Hotel': 5, 'The Franklin Hotel Starhotels Collezione': 4, 'Club Quarters Hotel St Paul s': 5, 'Hotel Elys es Bassano': 5, 'Hotel Opera Cadet': 5, 'Phileas Hotel': 3, 'Holiday Inn Paris Elys es': 3, 'H tel Beauchamps': 3, 'Best Western Nouvel Orl ans Montparnasse': 5, 'Hotel Plaza Athenee Paris': 4, 'Mercure Paris Place d Italie': 5, 'The Nadler Kensington': 3, 'H tel Da Vinci Spa': 3, 'XO Hotel': 4, 'H tel Vernet': 3, 'Mandarin Oriental Paris': 3, 'Rosewood London': 3, 'Novotel Paris Vaugirard Montparnasse': 4, 'Mayflower Hotel Apartments': 3, 'Caesar Hotel': 4, 'Hotel Xanadu': 5, 'Draycott Hotel': 4, 'DoubleTree by Hilton London Docklands Riverside': 5, 'Bentley London': 4, 'Mercure Paris Arc de Triomphe Etoile': 5, 'Park Grand Paddington Court': 5, 'The One Barcelona GL': 3, 'The Zetter Townhouse Marylebone': 3, 'Forest Hill Paris la Villette': 5, 'The Levin Hotel': 4, 'The Tophams Hotel': 4, 'Le Pavillon de la Reine Spa': 4, 'Hidden Hotel by Elegancia': 5, 'Le Roch Hotel Spa': 5, 'H10 London Waterloo': 3, 'San Domenico House': 4, 'Bloomsbury Palace Hotel': 5, 'Hotel du Petit Moulin': 5, 'Hotel Atmospheres': 3, 'H tel La Comtesse by Elegancia': 5, 'Hotel Astra Opera Astotel': 4, 'Hotel La Villa Saint Germain Des Pr s': 3, 'Grand Pigalle Hotel': 5, 'Innkeeper s Lodge London Greenwich': 5, 'Morgan Mees': 4, 'Hotel Duminy Vendome': 5, 'Maison Albar H tel Paris Champs Elys es ex Mac Mahon ': 4, 'Holiday Inn London Mayfair': 5, 'H tel Recamier': 4, 'TRYP Paris Op ra': 4, 'Royal Saint Michel': 3, 'Paddington Court Executive Rooms': 5, 'Novotel London Paddington': 4, 'Hyatt Regency Paris Etoile': 5, 'Relais Saint Jacques': 5, 'Hotel Cambon': 5, 'Mercure Paris Montmartre Sacr Coeur': 3, 'Relais Christine': 3, 'Les Matins de Paris Spa': 3, 'Hotel Square': 4, 'H tel Bourgogne Montana by MH': 4, 'The Westin Paris Vend me': 4, 'Hotel Montalembert': 4, 'H tel Mathis Elys es': 3, 'Le Saint Hotel Paris': 5, 'Hotel Le Squara': 4, 'L Hotel Pergol se Paris': 5, 'H tel Mayfair Paris': 5, 'Best Western Plus de Neuville Arc de Triomphe': 5, 'South Place Hotel': 5, 'The Royal Park Hotel': 3, 'Holiday Inn Paris Op ra Grands Boulevards': 4, 'Henley House Hotel': 5, 'Holiday Inn London Camden Lock': 4, 'DoubleTree by Hilton London Westminster': 5, 'Blakemore Hyde Park': 4, 'Hyatt Regency London The Churchill': 5, 'Rathbone': 3, 'Le Belmont Champs Elys es': 4, 'Duret': 4, 'H tel Elysees Mermoz': 3, 'Majestic Hotel Spa': 4, 'BoB Hotel by Elegancia': 5, 'Comfort Inn Suites Kings Cross St Pancras': 5, 'The Queens Gate Hotel': 3, 'Grange Langham Court Hotel': 5, 'Radisson Blu Edwardian Hampshire': 4, 'Four Seasons Hotel George V Paris': 4, 'The Marble Arch London': 5, 'H tel Fabric': 5, 'H tel du Minist re': 5, 'Shangri La Hotel at The Shard London': 4, 'Hotel Les Bulles De Paris': 3, 'Acad mie H tel Saint Germain': 4, 'Plaza Tour Eiffel': 3, 'Park Grand London Kensington': 4, 'Rocco Forte Brown s Hotel': 4, 'Royal Hotel Champs Elys es': 3, 'Best Western Allegro Nation': 4, 'Prince de Galles a Luxury Collection hotel Paris': 5, 'The Beaufort': 5, 'H tel La Parizienne by Elegancia': 5, 'Madeleine Plaza': 4, 'Blakes Hotel': 3, 'Castille Paris Starhotels Collezione': 5, 'H tel D Aubusson': 5, 'Hotel Oscar': 3, 'Best Western Bretagne Montparnasse': 4, 'The Westbridge Hotel': 4, 'Courthouse Hotel Shoreditch': 4, 'ME London by Melia': 4, 'Grange Clarendon Hotel': 5, 'Hotel Indigo London Kensington': 4, 'Novotel Paris 17': 3, 'Rafayel Hotel Spa': 4, 'Norfolk Towers Paddington': 5, 'Artus Hotel by MH': 4, 'Best Western Premier Kapital Op ra': 5, 'Timhotel Op ra Blanche Fontaine': 5, 'H tel Amastan Paris': 4, 'H tel Gustave': 4, 'Best Western Maitrise Hotel Edgware Road': 3, 'Georgian House Hotel': 3, 'Best Western Tour Eiffel Invalides': 4, 'The Chesterfield Mayfair': 3, 'My Chelsea': 5, 'Eiffel Trocad ro': 3, 'Hotel Saint Petersbourg Opera': 4, 'H tel Champs lys es Plaza': 5, 'Melia Paris Tour Eiffel': 3, 'Timhotel Op ra Grands Magasins': 5, 'Dukes Hotel': 3, 'Radisson Blu Edwardian Berkshire': 4, 'Pestana Chelsea Bridge Hotel Spa': 4, 'Arbor Hyde Park': 4, 'Mercure Paris Porte De Versailles Expo': 3, 'Great St Helen Hotel': 4, 'Hotel Whistler': 3, 'Hotel Georgette': 4, 'Westside Arc de Triomphe Hotel': 4, 'Etoile Saint Ferdinand': 5, 'H tel Saint Marc': 5, 'United Lodge Hotel and Apartments': 5, 'H tel Le Walt': 5, 'H tel Le Royal Monceau Raffles Paris': 4, 'Eccleston Square Hotel': 5, 'Nottingham Place Hotel': 5, 'Hotel Claridge Paris': 5, 'Strand Palace Hotel': 4, 'H tel L Echiquier Op ra Paris MGallery by Sofitel': 4, 'H tel De Castiglione': 5, 'Hilton London Olympia': 4, 'Grange Buckingham Hotel': 3, 'The Cleveland': 4, 'Dorset Square Hotel': 3, 'Edouard 7 Paris Op ra': 5, 'Renaissance Paris Arc de Triomphe Hotel': 3, 'Rubens At The Palace': 5, 'every hotel Piccadilly': 5, 'Millennium Gloucester Hotel London': 5, 'Novotel Suites Paris Expo Porte de Versailles': 5, 'K K H tel Cayr Saint Germain des Pr s': 4, 'Fielding Hotel': 3, 'DoubleTree by Hilton Hotel London Marble Arch': 5, 'Holiday Inn London West': 4, 'The Soho Hotel': 3, 'Le Grand H tel de Normandie': 4, 'Monsieur Cadet Hotel Spa Ex Meyerhold Spa ': 3, 'H tel de La Tamise Esprit de France': 4, 'Buddha Bar Hotel Paris': 4, 'Le A': 3, 'Holiday Inn Paris Notre Dame': 4, 'Mercure Paris Opera Garnier': 5, 'Maison Albar Hotel Paris Op ra Diamond': 5, 'Grand H tel Du Palais Royal': 5, 'Best Western Aulivia Op ra': 4, 'Renaissance Paris Vendome Hotel': 3, 'Hotel Park Lane Paris': 4, 'Little Palace Hotel': 4, 'Napoleon Paris': 5, 'Andaz London Liverpool Street': 4, 'Novotel London Canary Wharf': 3, 'H tel de Lille': 4, 'H tel Concorde Montparnasse': 4, 'Suites H tel Helzear Montparnasse': 4, 'Renaissance Paris Republique Hotel Spa': 3, 'citizenM Tower of London': 4, 'Chiswick Rooms': 5, 'Claridge s': 5, 'La Suite West Hyde Park': 3, 'St James Court A Taj Hotel London': 4, 'Elys es R gencia': 4, 'H tel De Sers Champs Elys es Paris': 5, 'Hotel le Lapin Blanc': 4, '41': 3, 'Shaftesbury Suites London Marble Arch': 5, 'Grange Strathmore Hotel': 4, 'H tel R de Paris Boutique Hotel': 3, 'Villa Panth on': 4, 'Trinit Haussmann': 4, 'The RE London Shoreditch': 4, 'London City Suites': 5, 'H tel Crayon Rouge by Elegancia': 3, 'Mercure Paris Opera Grands Boulevards': 5, 'St George s Hotel Wembley': 3, 'Hotel Le Saint Gregoire': 3, 'Le Mathurin Hotel Spa': 5, 'H tel Saint Paul Rive Gauche': 4, 'The Justin James Hotel': 5, 'Millennium Hotel London Mayfair': 5, 'H tel de Varenne': 4, 'A La Villa Madame': 5, 'The Curtain': 3, '45 Park Lane Dorchester Collection': 4, 'Grange Tower Bridge Hotel': 5, 'Le Tsuba Hotel': 4, 'St Martins Lane A Morgans Original': 5, 'H tel Barri re Le Fouquet s': 5, 'Novotel London Blackfriars': 4, 'Hotel Villa Lafayette Paris IX': 5, 'Canary Riverside Plaza Hotel': 4, 'The Marylebone Hotel': 4, 'L Empire Paris': 4, 'The Zetter Townhouse Clerkenwell': 3, 'The Whitechapel': 5, 'Suites H tel Helzear Champs Elys es': 5, 'St George Hotel': 4, 'Best Western Premier Op ra Faubourg Ex Hotel Jules ': 3, 'Pershing Hall': 5, 'The Premier Notting Hill': 5, 'H tel Pont Royal': 4, 'Le G n ral H tel': 5, 'H tel Th r se': 4, 'Best Western Premier Trocadero La Tour': 4, 'Holiday Inn London Whitechapel': 3, 'Washington Mayfair Hotel': 3, 'Radisson Blu Edwardian New Providence Wharf': 3, 'Hilton London Tower Bridge': 3, 'Novotel London Wembley': 3, 'Le Relais M dicis': 5, 'Les Jardins De La Villa Spa': 4, 'Warwick Paris Former Warwick Champs Elysees ': 5, 'Park Hyatt Paris Vendome': 4, 'My Home In Paris': 5, 'Mercure Paris Op ra Faubourg Montmartre': 5, 'Best Western Plus Elys e Secret': 5, 'Villa Beaumarchais': 3, 'H tel Mansart Esprit de France': 4, 'Holiday Inn Paris Gare de l Est': 5, 'Le Cinq Codet': 3, 'La Maison Favart': 4, 'Le Pradey': 3, 'Threadneedles Autograph Collection': 4, 'Sanderson A Morgans Hotel': 4, 'The Arch London': 4, 'Commodore Hotel': 5, 'Golden Tulip Washington Opera': 5, 'Residence Henri IV': 3, 'Hotel du Collectionneur Arc de Triomphe': 5, 'The Westbourne Hyde Park': 3, 'Hotel Le Mareuil': 3, 'Mercure Paris Champs Elys es': 4, 'Best Western Le 18 Paris': 5, 'The Lodge Hotel Putney': 4, 'Shaftesbury Hyde Park International': 4, 'The Montcalm At Brewery London City': 3, 'H tel Powers': 5, 'Villa Lut ce Port Royal': 5, 'Oceania Paris Porte De Versailles': 5, 'BEST WESTERN Maitrise Hotel Maida Vale': 5, 'Novotel London City South': 3, 'The Dorchester Dorchester Collection': 5, 'Mercure Paris Bastille Marais': 4, 'Hilton London Angel Islington': 5, 'Fifty Four Boutique Hotel': 4, 'Chateau Frontenac': 5, 'H tel Du Jeu De Paume': 5, 'The Sumner Hotel': 4, 'W12 Rooms': 4, 'Renaissance Paris Le Parc Trocadero Hotel': 3, 'Shaftesbury Premier London Paddington': 3, 'Hotel Carlton s Montmartre': 3, 'Hotel Monge': 5, 'Mimi s Hotel Soho': 5, 'Victoires Opera': 4, 'Holiday Inn London Oxford Circus': 3, 'Dorsett Shepherds Bush': 4, 'New Linden Hotel': 4, 'Le Burgundy Paris': 4, 'Hotel Sezz Paris': 5, 'Hotel Montaigne': 3, 'Hotel Royal Elys es': 4, 'Mercure Paris Bercy Biblioth que': 3, 'Hazlitt s': 4, 'Park Plaza London Waterloo': 3, 'citizenM London Shoreditch': 4, 'H tel Balzac': 4, 'Victoria Palace Hotel': 3, 'Hotel Eug ne en Ville': 4, 'Newhotel Roblin': 5, 'Le Relais Montmartre': 5, 'Amarante Beau Manoir': 4, 'Hotel Maison FL': 4, 'Balmoral Champs Elys es': 5, 'The Chess Hotel': 4, 'AC Hotel Paris Porte Maillot by Marriott': 4, 'B Montmartre': 3, 'H tel Regent s Garden': 3, 'Mercure Paris 15 Porte de Versailles': 5, 'Hotel Le Placide Saint Germain Des Pr s': 4, 'Hotel VIU Milan': 5, 'Sofitel London St James': 5, 'Baglioni Hotel London The Leading Hotels of

In [79]:
df['Stars']=df['Hotel_Name'].map(hotelStars)

In [80]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Word_Score,Stars
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,0.539216,5
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,10.000000,5
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,6.666667,5
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,2.203390,5
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,1.081081,5

In [81]:
df.to_csv("ReviewData.csv",index=False)

In [4]:
df.Stars.unique()

array([5, 3, 4])

Find my Hotel Function

In [4]:
def findMyHotel(dataframe, country, tags, sortBy, stars):
    
    #country mask
    countryMask=dataframe['countries'].str.contains(country, case=False)


    #tag masks
    tagMasks=[dataframe['Tags'].str.contains(eachTag, case=False) for eachTag in tags]
    combinedMask=pd.Series([True]*len(dataframe))
    #combining tag masks
    for eachMask in tagMasks:
        combinedMask &= eachMask
    

    #star filtering
    starMask=pd.Series([True]*len(dataframe))
    if stars!=0 :
        if stars==3 :
            starMask=dataframe['Stars']==3
        elif stars==4 :
            starMask=dataframe['Stars']==4
        elif stars==5 :
            starMask=dataframe['Stars']==5
    

    #final df
    result_df=dataframe[combinedMask & countryMask & starMask]


    #sorting data based on filter
    if sortBy==0:       #average score sorting
        result_df=result_df.sort_values('Average_Score',ascending=False)
    elif sortBy==1:     #word score sorting
        result_df=result_df.sort_values('Word_Score',ascending=False)
    else :
        print("wrong filter")
        return
    
    
    #trimming and printing the result
    result_df.drop_duplicates(['Hotel_Name','Average_Score','Stars'],inplace=True)
    result_df=result_df.head(10)
    print(result_df[['countries','Hotel_Name','Average_Score','Word_Score','Stars']])


findMyHotel(df,"AT",["couple","leisure trip"],0,5)

       countries                                Hotel_Name  Average_Score  \
404004        AT                         Hotel Sacher Wien            9.5
299897        AT                    Palais Coburg Residenz            9.5
448463        AT                    Hotel K nig von Ungarn            9.3
359058        AT        Small Luxury Hotel Altstadt Vienna            9.3
352755        AT  Hotel Imperial A Luxury Collection Hotel            9.2
446472        AT            Palais Hansen Kempinski Vienna            9.2
430008        AT      Appartement Hotel an der Riemergasse            9.2
501185        AT                    Strandhotel Alte Donau            9.1
465276        AT                            Hotel Stefanie            9.1
418356        AT                Sofitel Vienna Stephansdom            9.0

        Word_Score  Stars
404004   10.000000      5
299897    3.870968      5
448463   10.000000      5
359058   10.000000      5
352755   10.000000      5
446472   10.000000      5
430008   10.000000      5
501185    6.086957      5
465276   10.000000      5
418356    0.000000      5

In [5]:
def methods():
    print("Dataframe : df")
    print("Find hotel function : findMyHotel(dataframe, country{String}, tags{String array}, sortBy{int}, stars{int})")

methods()

Dataframe : df
Find hotel function : findMyHotel(dataframe, country{String}, tags{String array}, sortBy{int}, stars{int})

In [6]:
import pickle

hotelModel={'df':df, 'findMyHotel':findMyHotel, 'methods':methods}

with open("hotelModelPickle.pkl","wb") as f:
    pickle.dump(hotelModel,f)

In [7]:
with open("hotelModelPickle.pkl","rb") as f:
    hotelModel2=pickle.load(f)

methods2=hotelModel2['methods']
methods2()

Dataframe : df
Find hotel function : findMyHotel(dataframe, country{String}, tags{String array}, sortBy{int}, stars{int})