In [21]:
import pandas as pd

df=pd.read_csv("ReviewData.csv")

In [22]:
df.head()

,Hotel_Address,Average_Score,Hotel_Name,Tags,countries,Word_Score
0,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,0.539216
1,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple duplex double room sta...,NL,10.000000
2,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip family with young children dup...,NL,6.666667
3,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip solo traveler duplex double ro...,NL,2.203390
4,s Gravesandestraat 55 Oost 1092 AA Amsterdam NL,7.7,Hotel Arena,leisure trip couple suite stayed 2 nights ...,NL,1.081081

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
 5   Word_Score     515738 non-null  float64
dtypes: float64(2), object(4)
memory usage: 23.6+ MB

In [25]:
df.isnull().sum()

Hotel_Address    0
Average_Score    0
Hotel_Name       0
Tags             0
countries        0
Word_Score       0
dtype: int64

In [59]:
def hotelsFromTags(tags):

    #boolean mask for each tag
    tagMasks=[df['Tags'].str.contains(eachtag, case=False) for eachtag in tags]

    #tagMask makes different Masking lists for each tag, ie 5 tags as input will make 5 different masking lists
    #so use combined mask to combie them

    combinedMask=pd.Series([True]*len(df))
    for eachMask in tagMasks:
        combinedMask &= eachMask

    #print(combinedMask)
    
    #now filtering the dataframe on the basis of the combined mask and other filters
    result_df=df[combinedMask]
    result_df=result_df.sort_values('Average_Score',ascending=False)
    result_df.drop_duplicates(['Hotel_Name','Average_Score'],inplace=True)
    print(result_df[['Hotel_Name','Average_Score']])

hotelsFromTags(["with a pet"])

                        Hotel_Name  Average_Score
312953      Mercer Hotel Barcelona            9.5
11334   Milestone Hotel Kensington            9.5
176855              The Soho Hotel            9.5
356379                   The Toren            9.4
247519          The Beaumont Hotel            9.4
...                            ...            ...
233183          Gainsborough Hotel            6.9
131236     Bloomsbury Palace Hotel            6.8
205542             Commodore Hotel            6.7
129863           The Tophams Hotel            6.6
242569             Hotel Cavendish            6.4

[643 rows x 2 columns]