In [11]:
import pandas as pd

df=pd.read_csv("ReviewData.csv")

In [ ]:
df.head()

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Hotel_Address  515738 non-null  object
 1   Average_Score  515738 non-null  float64
 2   Hotel_Name     515738 non-null  object
 3   Tags           515738 non-null  object
 4   countries      515738 non-null  object
 5   Word_Score     515738 non-null  float64
dtypes: float64(2), object(4)
memory usage: 23.6+ MB

In [ ]:
df.isnull().sum()

In [13]:
def hotelsFromTags(dataframe, tags):

    #boolean mask for each tag
    tagMasks=[dataframe['Tags'].str.contains(eachtag, case=False) for eachtag in tags]

    #tagMask makes different Masking lists for each tag, ie 5 tags as input will make 5 different masking lists
    #so use combined mask to combie them

    combinedMask=pd.Series([True]*len(dataframe))
    for eachMask in tagMasks:
        combinedMask &= eachMask

    #print(combinedMask)
    
    #now filtering the dataframe on the basis of the combined mask and other filters
    result_df=dataframe[combinedMask]
    result_df=result_df.sort_values('Average_Score',ascending=False)
    result_df.drop_duplicates(['Hotel_Name','Average_Score'],inplace=True)
    result_df=result_df.head(10)
    print(result_df[['Hotel_Name','Average_Score','Word_Score']])

hotelsFromTags(df, ["with a pet"])

                                 Hotel_Name  Average_Score  Word_Score
312953               Mercer Hotel Barcelona            9.5    8.000000
11334            Milestone Hotel Kensington            9.5    0.000000
176855                       The Soho Hotel            9.5   10.000000
356379                            The Toren            9.4    6.666667
247519                   The Beaumont Hotel            9.4    4.666667
509222               Corinthia Hotel London            9.4   10.000000
322951                The Guesthouse Vienna            9.4    5.384615
324753  Best Western Premier Kaiserhof Wien            9.4    8.000000
214905                          Hotel Monge            9.4   10.000000
16675        Intercontinental London The O2            9.4    6.842105

In [14]:
import pickle

hotelModel={'df':df, 'hotelsFromTags':hotelsFromTags }

with open('hotelModelPickle.pkl','wb') as f:
    pickle.dump(hotelModel, f)

In [15]:
with open('hotelModelPickle.pkl', 'rb') as f:
    modelData = pickle.load(f)

In [16]:
df2=modelData['df']
tagSearch=modelData['hotelsFromTags']

In [18]:
tagSearch(df2, ['leisure trip','couple'])

                                          Hotel_Name  Average_Score  \
54742                                     Ritz Paris            9.8
398993                              Hotel The Serras            9.6
316615                             Hotel Casa Camper            9.6
14807                                Haymarket Hotel            9.6
402284                         H10 Casa Mimosa 4 Sup            9.6
185695                                            41            9.6
177045           H tel de La Tamise Esprit de France            9.6
291478  Taj 51 Buckingham Gate Suites and Residences            9.5
312815                        Mercer Hotel Barcelona            9.5
391000                                Ham Yard Hotel            9.5

        Word_Score
54742     0.000000
398993   10.000000
316615    8.000000
14807     0.000000
402284    3.376623
185695   10.000000
177045    0.000000
291478   10.000000
312815    2.343750
391000    8.285714